<%	current_user = session[:user_id]
 	@questions.each do |question| 
		if question.user_id == current_user %>
			<%= question.questions %>
		<% else 
			if question.question_followers_mappings.find_by_user_id(current_user)
				value = "unfollow_question" 
				link = "unfollow"
			else
				value = "follow_question" 
				link = "follow" %>
			<% end %>
			<%= question.questions %>
			<%= link_to link,controller: :home ,action: value, id: question.id%>
		<% end %><br>
	<% end %>
	<a href="/">Home</a>