/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
#header{
	top: 0;
	padding-left: 15%;
	position: fixed;
	display:flex;	
	background: white;
	align-items:center;
	z-index: 999;
	border-bottom: 1px solid #dddddd;
}
body {
}
#details{
	padding-top: 10%;
}
#header-quora-image{
	height: 10%;
	width: 10%;
	overflow: hidden;
}
#img{
	width: 90%;
}
#search-section{
	width: 30%;
}
#search-bar{
	width: 70%;
}
#search-button{
}

#section{
	margin: 0% 15% 0 15%;
}
#aside-section{
	position: fixed;
	width: 20%;
	vertical-align: top;
	display: inline-block;
}
#main-section{
	width: 50%;
	position: absolute;
	left: 30%;
	display: inline-block;
}

#sign-in-page{
	width: 100%;
	height: 100%;
	background: url("starting.png");
}